# Copy this file to .env and fill in your values

# Server Config
PORT=5000

# MongoDB Connection String
# Local:  mongodb://localhost:27017/hackathon
# Atlas:  mongodb+srv://<username>:<password>@cluster.mongodb.net/hackathon
MONGO_URI=mongodb://localhost:27017/hackathon

# Environment
NODE_ENV=development
